.container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 10px;
}

.items {
    background-color: #444;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.items:nth-child(even) {
    background-color: #cccccc;
    color: black;
}

.item2 {
    grid-row: 2;
    grid-column: 3 / 6;
    border: 1px solid red;
}