

.item {
    height: 80px;
    width: 150px;
    background: green;
    display: block;
}

.container {
    text-align: center;
    display: flex;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}